* text=auto
* text eol=lf
* linguist-vendored
*.cc linguist-vendored=false
*.h linguist-vendored=false
*.cmake.in linguist-vendored=false
CMakeLists.txt linguist-vendored=false
configure.ac linguist-vendored=false
autoconf.h.* linguist-vendored=false
Makefile.*/* linguist-vendored=false
